* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navegacao {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #8C0303;  
    box-shadow: 0px 5px 7px 0px #888888;    
}

.navegacao li {
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 27px;
}

.navegacao li a {
    color: #F2E3B3;
    text-decoration: none;
}

.navegacao li a:hover {
    color: #D96704;
}


.logomarca {
    position: absolute;
    float: left;
    margin-left: 100px;
}

.logomarca img {
    width: 200px;
    height: 200px;  
}

/*--------- Sobre nós ----------*/
#sobre {
    text-align: center;
    padding-top: 143px;
}

#sobre h2 {
    color: #8C0303;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
}

#sobre p{
    width:1200px;
    margin: auto;
    font-size: 25px;
    padding-bottom: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 37px;
}

/* Título Cardápio */
#titulo_cardapio {
    margin-top: 70px;
    margin-left: 30px;
    padding-top: 10px;
    width: 97%;
    height: 70px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #D96704;
    text-align: center;
}

/* -----Container dos cards das pizzas------ */
.cardapio {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;

}

/* ------------------Cards------------------- */
/* -------CARD 1------- */
#card1 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card1 img {
    width: 250px;
    height: 200px;
}

#card1_texto {
    text-align: center;
}

#card1_texto h2 {
    margin-top: 30px;
    color: #8C0303;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card1_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* -------CARD 2------- */
#card2 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card2 img {
    width: 250px;
    height: 200px;
}

#card2_texto {
    text-align: center;
}

#card2_texto h2 {
    margin-top: 30px;
    color: #046f11;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card2_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* -------CARD 3------- */
#card3 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card3 img {
    width: 250px;
    height: 200px;
}

#card3_texto {
    text-align: center;
}

#card3_texto h2 {
    margin-top: 30px;
    color: #D96704;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card3_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* -------CARD 4------- */
#card4 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card4 img {
    width: 250px;
    height: 200px;
}

#card4_texto {
    text-align: center;
}

#card4_texto h2 {
    margin-top: 30px;
    color: #046f11;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card4_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* -------CARD 5------- */
#card5 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card5 img {
    width: 250px;
    height: 200px;
}

#card5_texto {
    text-align: center;
}

#card5_texto h2 {
    margin-top: 30px;
    color: #6e3e34;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card5_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* -------CARD 6------- */
#card6 {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.384);
}

#card6 img {
    width: 250px;
    height: 200px;
}

#card6_texto {
    text-align: center;
}

#card6_texto h2 {
    margin-top: 30px;
    color: #D91604;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#card6_texto p {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* ---------Tabela---------- */
.container_tabela {
    display: flex;
    justify-content: center;
}

#tabela {
    margin-top: -30px;
    width: 80%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}


.faleconosco {
    margin-top: 120px;
    text-align: center;
}

.faleconosco {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #8C0303;
}

.contato {
    margin-top: 80px;
    margin-bottom: 150px;
    padding-top: 50px;    
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #8C0303;
}

.contato h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #F2E3B3;
}

.contato p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 34px;
    color: #F2E3B3;
}

#rodape {
    background-color: #8C0303;
    height: 70px;
}

#rodape p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #F2E3B3;
    padding-top: 20px;
}


/* ---------Página de Pedidos--------- */


#titulo_formulario {
    text-align: center;
    padding-top: 50px;
    height: 150px;
    background-color:#8c0303a4;
    color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}


.container_formulario {
    display: flex;
    width: 1000px;
    height: 430px;
    border: 1px solid black;  
    margin-top: 50px; 
    margin-left: 350px;
    margin-bottom: 100px;
    
}


.dados_pessoais {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 50px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#nome {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#nome input{
    border: none;
    border-bottom: 1px solid #888888;
    width: 300px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#telefone {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 50px;
}

#telefone input {
    border: none;
    border-bottom: 1px solid #888888;
    width: 300px;
    margin-top: 20px;
    padding-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}

#endereco {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 50px;
}

#endereco input {
    border: none;
    border-bottom: 1px solid #888888;
    width: 300px;
    margin-top: 20px;
    padding-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.sabores_tamanhos {
    width: 500px;
    margin-top: 68px;
    margin-left: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

.sabores_tamanhos select {
    width: 170px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: 20px;

}

.tamanhos {   
    width: 500px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}


.condimentos {
    width: 500px;
    margin-top: 50px;
}

.condimentos h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
}

button {
    border: none;
    margin-top: 70px;
    margin-left: -170px;
    width: 300px;
    height: 40px;
    background-color:#D91604;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .4s;

}

button:hover {
    background: transparent;
    color: #D91604;
    border: 1px solid #D91604;
}

